html{
    height:100%;
    width:100%;
}

.Question{
    margin-left:15%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right:22%;
    position: center;
    alignment: center;
    border: 0.5vh solid #5e697a;
    width: 70%;
    height: 50%;
    text-align: center;
    padding-top: 4%;
    display: inline-block;
}

.Answer {
    margin-left:15%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right:22%;
    position: center;
    alignment: center;
    border: 0.5vh solid #5e697a;
    width: 70%;
    height: 50%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    display: inline-block;
}

button {
    width: 49%;
    margin-top: 10%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom:1%;
    padding: 10%;
    background-color: #5e697a;
    color: white;
    border: none;
}
